RESEND_API_KEY=
RESEND_FROM="Gringo Connection <info@gringoconnection.com>"
LEAD_FORWARD_TO="dan@doorknockingsucks.com, Eddy@doorknockingsucks.com"
HUGGINGFACE_KEY=
GEMINI_API_KEY=
GROK_API_KEY=
AIMLAPI_API_KEY=
AIMLAPI_MODEL=gpt-4-turbo
PERPLEXITY_API_KEY=
POE_API_KEY=
GHL_API_KEY=
WHATSAPP_NUMBER=
PLAUSIBLE_DOMAIN=gringoconnection.com
NEXT_PUBLIC_PLAUSIBLE_DOMAIN=gringoconnection.com
CALENDLY_URL=
WHOP_ENABLED=false
WHOP_API_KEY=
META_PAGE_ACCESS_TOKEN=
META_PAGE_ID=
BUFFER_TOKEN=
LOCAL_LLM=false
OLLAMA_URL=http://localhost:11434
TEAM_NAMES="Daniel <thedanielsmith@icloud.com>"
EOD_TO="dan@doorknockingsucks.com, Eddy@doorknockingsucks.com"
ALERT_TO="dan@doorknockingsucks.com"
SLACK_WEBHOOK_URL=
PLAUSIBLE_API_KEY=
CALENDLY_ICS_URL=
DEFAULT_TZ="America/Bogota"

